{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block content %}
    <h1>Mon panier</h1>
    Retrouvez l'assemble des produis hauts de gammes qui ont été ajouté à votre panier.
    <hr>
    <table class="table mt-3">
        <thead>
            <tr>
            <th scope="col">Images</th>
            <th scope="col">Produits</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% set total = null %}
        {% for product in cart %}
            <tr>
                <th>
                <img height="75px" src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}"><br>
                </th>
                <td>
                {{ product.product.name }}<br>
                <small>{{ product.product.subtitle }}</small>
                </td>
                <td>x {{ product.quantity }}</td>
                <td>{{(product.product.price / 100)|number_format(2, ',',' ')}}</td>
                <td>{{ ((product.product.price * product.quantity) / 100)|number_format(2, ',',' ') }}
                </td>
            </tr>
            {% set total = total + (product.product.price * product.quantity) %}
        {% endfor %}    
        </tbody>
    </table>
    <div class="text-end mb-5">
        <b>Nombre de produit:</b> {{ cart |length }} <br>
        <b>Total de mon panier:</b> {{ ((total) / 100)|number_format(2, ',',' ') }} <br>
        <a href="" class="btn btn-success">Valider mon panier</a>
    </div>
{% endblock %}
