{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande{% endblock %}

{% block content %}
    <h2>Mon récaputilatif</h2>
    <p>Veuillez vérifier vos informations.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            Mon adresse de livraison <br>
            Mon transporteur    
        </div>
        <div class="col-md-6">
        <div class="text-center">
            <b>Récap de ma commande</b>
            <p>Ici le récaputilatif de vos produits</p>
        </div>
            <div class="order-summary">
                {% for key,product in cart %}
                <div class="row {% if key > 0 %}mt-2{% endif %}">
                    <div class="col-3">
                    <img height="75px" src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}">
                    </div>
                    <div class="col-7 my-auto">
                        {{ product.product.name }}<br>
                        <small>
                        {{ product.product.subtitle }}
                        <br>
                         x {{product.quantity}}
                        </small>
                    </div>
                    <div class="col-2 my-auto">
                        {{ ((product.product.price * product.quantity) / 100)|number_format(2, ',',' ') }}€
                    </div>
                </div>
                {% endfor %}

            </div>
            <hr>
            <strong>Sous-total: </strong><br>
            <strong>Livraison: </strong><br>
            <strong>Total: </strong>
            <a href="" class="btn btn-success mt-3 w-100">Payer</a>
            <br>
        </div>
    </div>

{% endblock %}
