{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Veuillez choisir vos préférences avant de passer à votre commande.</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {% set formHtml %} 
                {{ form_start(form, {action:path('app_order_recap')}) }}
                {{ form_end(form) }}
            {% endset %}

            {{ formHtml|replace({'[br]' : '<br>'})|raw }}
        </div>
        <div class="col-md-6">
        <div class="text-center">
            <b>Récap de ma commande</b>
        </div>
            <div class="order-summary">
                {% for key,product in cart %}
                <div class="row {% if key > 0 %}mt-2{% endif %}">
                    <div class="col-3">
                    <img height="75px" src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}">
                    </div>
                    <div class="col-7 my-auto">
                        {{ product.product.name }}<br>
                        <small>{{ product.product.subtitle }}</small>
                    </div>
                    <div class="col-2 my-auto">
                        x {{product.quantity}}
                    </div>
                </div>
                {% endfor %}

            </div>
            <br>
        </div>
    </div>

{% endblock %}
